source https://nuget.org/api/v2

nuget FSharp.Data ~> 2.1.1
nuget FSharp.Formatting ~> 2.7.1
nuget RazorEngine ~> 3.5.3
nuget Fake ~> 3.15.0
nuget Microsoft.Owin.Hosting ~> 3.0.0
nuget Microsoft.Owin.FileSystems ~> 3.0.0
nuget Microsoft.Owin.StaticFiles ~> 3.0.0
nuget Microsoft.Owin.Host.HttpListener ~> 3.0.0