@{
    Layout = "_layout.cshtml";
}

@using RazorEngine.Templating

@{
    var latest = Model.AllPosts.First();
}

<div class="post">
    
    <h1 class="post-title"><a href='@Model.ToAbsUrl("/blog/post")/@latest.Name/'>@latest.Title</a></h1>
    <small>@latest.Date</small>
    <div class="post-content">@Raw(latest.Document)</div>
</div>