@import url(http://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab);

html, body {
    height: 100%;
    background-image: url('/img/broken_noise.png');
}

body {
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Open Sans', 'Segoe UI Light', Verdana, Helvetica, Sans-Serif;
    font-weight: 300;
    color: #ddd;
    background-color: #222;
    line-height: normal;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 2.5em;
    margin: 35px 0 0 0;
    line-height: normal;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 2em;
    margin: 35px 0 0 0;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    margin: 35px 0 0 0;
    font-size: 1.5em;
}

header, footer, nav, section {
    display: block;
}

footer {
    background-color: black;
    padding: 50px 50px 50px 50px;
}

pre {
    color: inherit;
    background-color: black;
    padding-left: 9px;
    border-width: 0;
}

code {
    font-size: 14px;
    color: inherit;
    background-color: inherit;
    border: none;
}

ol {
    margin-left: 30px;
}

a:hover {
    text-decoration: none;
}

#netext-brand {
    display: none;
    font-weight: bold;
}

#wrapper {
    min-height: 100%;
    margin: 0;
    width: 100%;
}

#topsection {
    color: white;
    background-color: #5757DA;
    background-image: url('/img/pinstriped_suit_blue2.jpg');
}

    #topsection h1 {
        margin: 10px 0;
        font-size: 6em;
        font-family: 'Roboto Slab', serif;
        line-height: 100px;
    }
    
#tag-cloud {
    float: left;
    margin-bottom: 50px;
}
    
#latest-posts {
    clear: left;
}

#footer {
    background-color: #252541;
    min-height: 150px;
    margin-top: -150px;
}

.post {
    line-height: 25px;
    margin-bottom: 200px;
}

.post-title {
    font-size: 2.7em;
    color: white;
}

.post-title a {
    color: white;
}

.post #title a:hover {
    color: inherit;
}

a.tag {
    display: block;
    float: left;
    padding: 5px;
    margin: 2px;
}

a.tag-unselected {
    background-color: black;
    color: #11C1DA;
}

    a.tag-unselected:hover {
        background-color: #11C1DA;
        color: black;
    }

a.tag-selected {
    background-color: #11C1DA;
    color: black;
}

    a.tag-selected:hover {
        background-color: black;
        color: #11C1DA;
    }

.comment-count {
    font-style: italic;
    font-size: 0.8em;
    margin-top: -200px;
    margin-bottom: 200px;
}

.post > .comment-count {
    margin-top: 0;
    margin-bottom: 0;
}

#comments {
    font-size: 15px;
}

.comment-author {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    margin-top: 50px;
}

.comment-content {
    margin-bottom: 50px;
}

#contact-images img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#contact-images-credit {
    font-size: 0.5em;
    color: #777;
}

    #contact-images-credit > a, #contact-images-credit > a:hover {
        color: #777;
    }

/*-- FSharp.Formatting fixes --*/
table.pre {
    border: none;
    margin: 0;
    border-radius: 0;
    width: 100%
}

pre.fssnip {
    font: 14px 'Droid Sans Mono', consolas, monospace
}

table.pre td.lines {
    text-align: right;
}

div.code-wrapper {
    overflow-x: auto;
    margin-bottom: 10px;
}

div#disqus_thread {
    margin-bottom: 100px;
}